.item {
    display: flex;
    flex-direction: column;
    width: 240px;
}

.item .name {
    flex: 0;
}

.imgs {
    width: 100%;
    height: 180px;
}

.imgs img {
    width: 100%;
    height: 100%;
}
