<div>
    <button type="button"
            (click)="reload()">
        Reload store
    </button>
    <button type="button"
            (click)="clear()">
        Clear store
    </button>
</div>
<div class="d-flex flex-wrap">
    <div class="item px-1"
         *ngFor="let p of (files$ | async)">
        <div class="name">
            {{ p.name }}
            <ng-container *ngIf="!p.src">
                <progressbar [value]="p.progress">
                    <span class="text-nowrap">{{p.progress}}%</span>
                </progressbar>
            </ng-container>
        </div>
        <div class="imgs"
             @img
             *ngIf="p.src">
            <img [src]="sanitize(p.src)"
                 alt="Alt"/>
        </div>
    </div>
</div>
