<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            {{ value$ | async }}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <button type="button"
                    (click)="increment()">Increment</button>
        </div>
        <div class="col-3">
            <button type="button"
                    (click)="decrement()">Decrement</button>
        </div>
        <div class="col-3">
            <button type="button"
                    (click)="reset()">Reset</button>
        </div>
        <div class="col-3">
            <button type="button"
                    (click)="clear()">Clear Store</button>
        </div>
    </div>
    <div class="row"
         *ngFor="let a of (articles$ | async)">
        <div class="col">
            {{ a | json }}
        </div>
    </div>
</div>